$nav-grey: rgb(31,34,36);
$nav-grey_secondary: rgb(160,160,161);
$nav-dropdown_bg: rgb(36,38,41);
$nav-grey_tertiary: rgb(80,80,81);
$form-element: rgb(52,54,59);
$placeholder: rgb(112,112,113);
$green: rgb(52,165,142);